[Unit]
Description=Weather Station
Documentation=https://thealmostengineer.com/

[Service]
Type=simple
Restart=always
ExecStart=/home/pi/weather-station/Almostengr.WeatherStation.Api
User=pi

[Install]
WantedBy=multi-user.target